body {
    background-image: url("https://github.com/kyuketsuki1/AniFav/blob/main/img/bg4.jpg?raw=true");
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2B2D42;
    color: #fff;
    padding: 5px 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.links {
    display: flex;  
    margin-right: 41%;
    justify-content: right;
    flex-grow: 1;
    font-family: 'Overpass', sans-serif;
}

.links a {
    color: #D3D5F3;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
 
}

.center-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #0A1625;
    padding: 122px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 px 10px rgba(0, 0, 0, 0.1);


    h2 {
        font-family: 'Overpass', sans-serif;
        font-size: 35px;
        color: white;
        font-weight: bolder;
    }

    p {
        font-family: 'Overpass', sans-serif;
        font-size: 20px;
        color: #ACD5F2;
        font-weight: bolder;
    }
}

.button-group {
    margin-top: 20px;
    font-family: 'Overpass', sans-serif;
}

button {
    background-color: #3577FF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 1px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    font-family: 'Overpass', sans-serif;
    font-weight: bolder;
}

button:hover {
    background-color: #062157;
    font-family: 'Overpass', sans-serif;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px 20px;
    }

    .links {
        margin-right: 0;
        justify-content: center;
        margin-top: 10px;
    }

    .links a {
        font-size: 18px;
    }

    .center-block {
        padding: 60px;
    }

    .center-block h2 {
        font-size: 28px;
    }

    .center-block p {
        font-size: 18px;
    }

    button {
        font-size: 18px;
        padding: 8px 15px;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .links a {
        font-size: 16px;
    }

    .center-block {
        padding: 40px; 
    }

    .center-block h2 {
        font-size: 24px;
    }

    .center-block p {
        font-size: 16px;
    }
}
